:root {
  /* Fonts */

  /* Colors */
  --color-iris: #4d5ae5;
  --color-ocean: #404bbf;
  --color-navy-blue: #2e2f42;
  --color-green: #31d0aa;
  --color-slate: #434455;
  --color-light-slate: #8e8f99;
  --color-cornflower: #e7e9fc;
  --color-cloud: #f4f4fd;
  --color-navy-blue-modal: #2e2f42;
  --color-grey: #2e2f42;
  --color-white: #ffffff;
  --color-dairy: #fcfcfc;
  /* Other */
}
body {
  background-color: #e5e5e5;
  font-size: 16px;
  font-family: 'Roboto';
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-decoration: none;
  text-transform: none;
}

/**
  |============================
  | Base styles
  |============================
*/

.section {
}

.list {
  list-style-type: none;
}

.link {
  text-decoration: none;
}

.link:hover {
  text-decoration: none;
  background-color: red;
}

.main-title {
  font-size: 56px;
  font-family: 'Roboto';
  font-weight: 700;
  font-style: normal;
  line-height: 60px;
  letter-spacing: 0.02em;
  text-decoration: none;
  text-transform: none;
}
.section-title {
  font-size: 36px;
  font-family: 'Roboto';
  font-weight: 700;
  font-style: normal;
  line-height: 40px;
  letter-spacing: 0.02em;
  text-decoration: none;
  text-transform: capitalize;
}
.subtitle {
  font-size: 20px;
  font-family: 'Roboto';
  font-weight: 500;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-decoration: none;
  text-transform: none;
}

.desc {
  font-size: 16px;
  font-family: 'Roboto';
  font-weight: 500;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-decoration: none;
  text-transform: none;
}
.button-text {
  font-size: 16px;
  font-family: 'Roboto';
  font-weight: 500;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-decoration: none;
  text-transform: none;
}
.small-text {
  font-size: 12px;
  font-family: 'Roboto';
  font-weight: 400;
  font-style: normal;
  line-height: 14px;
  letter-spacing: 0.04em;
  text-decoration: none;
  text-transform: none;
}
.link-text {
  font-size: 12px;
  font-family: 'Roboto';
  font-weight: 400;
  font-style: normal;
  line-height: 16px;
  letter-spacing: 0.04em;
  text-decoration: underline;
  text-transform: none;
}

/**
  |============================
  | Header styles
  |============================
*/
.header {
}

/* nav section */
.header-nav {
}
.header-nav-logo {
}
.header-nav-list {
}
.header-nav-item {
}
.header-nav-link {
}

/* contact section */
.header-contact {
}
.header-contact-list {
}
.header-contact-item {
}
.header-contact-link {
}

/**
  |============================
  | Main styles
  |============================
*/
.main {
}

/* Hero section */
.main-hero {
}
.main-hero-title {
}
.main-hero-btn {
}
.main-hero-btn:hover {
}
.order-service {
}

/* Feature section */
.main-feature {
}
.main-feature-title {
}
.main-feature-list {
}
.main-feature-item {
}
.main-feature-subtitle {
}
.main-feature-text {
}

/* Service section */
.main-service {
}
.main-service-title {
}
.main-service-list {
}
.main-service-item {
}
.main-service-img {
}

/* team section */
.main-team {
}
.main-team-title {
}
.main-team-list {
}
.main-team-item {
}
.main-team-name {
}
.main-team-img {
}
.main-team-text {
}

/**
  |============================
  | Footer styles
  |============================
*/
.footer {
}
.footer-logo {
}
.footer-text {
}

/**
  |============================
  | Portfolio styles
  |============================
*/

.pfl-header-nav {
}
.pfl-header-link {
}
.pfl-header-list {
}
